@import '../../static/css/mixin';

.home-container{
    .compnay-rank-title{
    }
    
    .company-card-list{
        margin-top: .5em;
        .at-card__header-extra::before{
            content:"â€";
            color: red;
        }
    }

}

